@import "./reset";
@import "./font";

$main-font: "SF Pro Display", sans-serif;
$wrapper-width: 1171px + 30px;
$main-text-color: #2f3035;
$lt-grey: #f0f0f4;
$blue: #1c62cd;
$lt-text: #c4c4c4;

body {
  font-family: $main-font;
}

.page {
}

.header {
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.header-top {
  padding-top: 25px;
  padding-bottom: 21px;
  width: 100%;
  &__wrapper {
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__nav-link {
    color: $main-text-color;
    text-align: center;
    font-size: 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__address {
    background-image: url(../assets/icons/marker-icon.svg);
    background-repeat: no-repeat;
    height: 30px;
    padding-left: 30px;
    display: flex;
    align-items: flex-end;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__menu-links {
    &--counter {
      position: relative;
    }
    &-counter {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1c62cd;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      font-size: 10px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      position: absolute;
      right: -15px;
      bottom: -5px;
    }
  }
}

.logo-link {
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__company-name {
    margin-top: 8.87px;
    color: $main-text-color;
    font-size: 20px;
    // font-family: Staatliches;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}

.header-bottom {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: $lt-grey;
  }

  &__nav-link {
    display: inline-block;
    padding: 15px 0;
    color: $main-text-color;
    font-size: 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    &--active {
      border-bottom: 3px solid #1c62cd;
      color: $main-text-color;
      font-size: 20px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  &__nav-link:first-child {
    padding-left: 2px;
  }

  &__nav-link:last-child {
    padding-right: 2px;
  }
}

.main {
}
.promo {
  margin-top: 81px;
  margin-bottom: 77px;
  &__swiper {
    width: 100%;
    max-width: 870px;
    margin: 0;
  }
  .wrapper {
    justify-content: space-between;
  }
}

.swiper-slide {
  &__image {
  }
}

.swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.price-article {
  position: relative;
  width: 100%;
  max-width: 265px;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 265px;
    height: 397px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    gap: 7px;
  }

  &__link-sale {
    position: absolute;
    padding: 8px 20px;
    color: #fff;
    font-family: $main-font;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: $blue;
    left: 0;
    top: 0;
  }

  &__price-box {
    position: absolute;
    top: 3px;
    right: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__current-price {
    color: $blue;
    font-family: $main-font;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 20px;
    background-image: url(../assets/icons/ru.svg);
    background-repeat: no-repeat;
    background-position: right center;
  }

  &__old-price {
    color: $lt-text;
    font-family: $main-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 11px;
    background-image: url(../assets/icons/grey-ru.svg);
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url(../assets/icons/stick.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
      top: 0;
    }
  }

  &__link-img {
    margin-top: auto;
  }

  &__link-title {
    color: $main-text-color;
    text-align: center;
    font-size: 18px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    max-width: 200px;
  }

  &__link-footer {
    background-color: #f0f0f4;
    width: 100%;
    padding: 20px 25px;
    text-align: center;
  }

  &__link-footer-text {
    color: $main-text-color;
    text-align: center;
    font-size: 18px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__link-footer-date {
    color: #1c62cd;
    text-align: center;
    font-size: 18px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.search-section {
}
.wrapper {
}
.search-form {
  width: 100%;

  &__fieldset {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__tablist {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__tab {
  }

  &__tab-input {
    display: none;
  }

  &__tab-label {
    padding: 11px 26px;
    background: transparent;
    transition: background 0.3s;
    color: var(--unnamed, #2f3035);
    text-align: center;
    font-family: $main-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
  }

  &__tab-input:checked + &__tab-label {
    border-radius: 5px;
    background: $lt-grey;
    font-weight: 700;
  }

  &__input {
    width: 100%;
    border-radius: 3px;
    background: $lt-grey;
    border: none;
    padding: 15px 20px;
    color: #656464;
    font-family: $main-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__submit-btn {
    border-radius: 3px;
    background: $blue;
    border: 0;
    padding: 17px 39px;
    color: #fff;
    font-family: $main-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
  }
}

.categories-section {
  margin-bottom: 80px;
  &__nav {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  &__nav-block {
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    background: #fff;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: space-between;
    transition: 0.3s;
  }

  &__nav-block:hover {
    box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
    border-color: transparent;
    .categories-section__nav-block-heading {
      color: $blue;
      transition: 0.3s;
    }
  }

  &__nav-block-heading {
    color: $main-text-color;
    font-family: $main-font;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__nav-block-img {
  }

  &__nav-block-link {
    color: $lt-text;
    font-family: $main-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    bottom: 16px;
    left: 20px;
  }
}

.products-section {
  &__heading {
    color: $main-text-color;
    font-family: $main-font;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
  }

  &__tab-list {
  }

  &__tab-btn {
    background-color: #fff;
    border: none;
    color: $main-text-color;
    text-align: center;
    font-family: $main-font;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    position: relative;
  }

  &__tab-btn:hover::after {
    background-color: #1c63cd65;
  }

  &__tab-btn--active::after {
    background-color: $blue;
  }

  &__tab-btn::after {
    content: "";
    background-color: transparent;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }

  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.wrapper {
}

.subheading {
}
