@import url("../assets/fonts/SF_PRO/stylesheet.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
}

.header {
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1201px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.header-top {
  padding-top: 25px;
  padding-bottom: 21px;
  width: 100%;
}
.header-top__wrapper {
  justify-content: space-between;
}
.header-top__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-top__nav-link {
  color: #2f3035;
  text-align: center;
  font-size: 20px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-top__address {
  background-image: url(../assets/icons/marker-icon.svg);
  background-repeat: no-repeat;
  height: 30px;
  padding-left: 30px;
  display: flex;
  align-items: flex-end;
}
.header-top__menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-top__menu-links--counter {
  position: relative;
}
.header-top__menu-links-counter {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c62cd;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  right: -15px;
  bottom: -5px;
}

.logo-link__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-link__company-name {
  margin-top: 8.87px;
  color: #2f3035;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.header-bottom__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #f0f0f4;
}
.header-bottom__nav-link {
  display: inline-block;
  padding: 15px 0;
  color: #2f3035;
  font-size: 20px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.header-bottom__nav-link--active {
  border-bottom: 3px solid #1c62cd;
  color: #2f3035;
  font-size: 20px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.header-bottom__nav-link:first-child {
  padding-left: 2px;
}
.header-bottom__nav-link:last-child {
  padding-right: 2px;
}

.promo {
  margin-top: 81px;
  margin-bottom: 77px;
}
.promo__swiper {
  width: 100%;
  max-width: 870px;
  margin: 0;
}
.promo .wrapper {
  justify-content: space-between;
}

.swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.price-article {
  position: relative;
  width: 100%;
  max-width: 265px;
}
.price-article__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 265px;
  height: 397px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  gap: 7px;
}
.price-article__link-sale {
  position: absolute;
  padding: 8px 20px;
  color: #fff;
  font-family: "SF Pro Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: #1c62cd;
  left: 0;
  top: 0;
}
.price-article__price-box {
  position: absolute;
  top: 3px;
  right: 7.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price-article__current-price {
  color: #1c62cd;
  font-family: "SF Pro Display", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 20px;
  background-image: url(../assets/icons/ru.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.price-article__old-price {
  color: #c4c4c4;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 11px;
  background-image: url(../assets/icons/grey-ru.svg);
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
}
.price-article__old-price::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../assets/icons/stick.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
}
.price-article__link-img {
  margin-top: auto;
}
.price-article__link-title {
  color: #2f3035;
  text-align: center;
  font-size: 18px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  max-width: 200px;
}
.price-article__link-footer {
  background-color: #f0f0f4;
  width: 100%;
  padding: 20px 25px;
  text-align: center;
}
.price-article__link-footer-text {
  color: #2f3035;
  text-align: center;
  font-size: 18px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price-article__link-footer-date {
  color: #1c62cd;
  text-align: center;
  font-size: 18px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form {
  width: 100%;
}
.search-form__fieldset {
  width: 100%;
  display: flex;
  align-items: center;
}
.search-form__tablist {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.search-form__tab-input {
  display: none;
}
.search-form__tab-label {
  padding: 11px 26px;
  background: transparent;
  transition: background 0.3s;
  color: var(--unnamed, #2f3035);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.search-form__tab-input:checked + .search-form__tab-label {
  border-radius: 5px;
  background: #f0f0f4;
  font-weight: 700;
}
.search-form__input {
  width: 100%;
  border-radius: 3px;
  background: #f0f0f4;
  border: none;
  padding: 15px 20px;
  color: #656464;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-form__submit-btn {
  border-radius: 3px;
  background: #1c62cd;
  border: 0;
  padding: 17px 39px;
  color: #fff;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

.categories-section {
  margin-bottom: 80px;
}
.categories-section__nav {
  margin-top: 80px;
  margin-bottom: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.categories-section__nav-block {
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  background: #fff;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: space-between;
  transition: 0.3s;
}
.categories-section__nav-block:hover {
  box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
  border-color: transparent;
}
.categories-section__nav-block:hover .categories-section__nav-block-heading {
  color: #1c62cd;
  transition: 0.3s;
}
.categories-section__nav-block-heading {
  color: #2f3035;
  font-family: "SF Pro Display", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.categories-section__nav-block-link {
  color: #c4c4c4;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: 16px;
  left: 20px;
}

.products-section__heading {
  color: #2f3035;
  font-family: "SF Pro Display", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}
.products-section__tab-btn {
  background-color: #fff;
  border: none;
  color: #2f3035;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  position: relative;
}
.products-section__tab-btn:hover::after {
  background-color: rgba(28, 99, 205, 0.3960784314);
}
.products-section__tab-btn--active::after {
  background-color: #1c62cd;
}
.products-section__tab-btn::after {
  content: "";
  background-color: transparent;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.products-section__wrapper {
  flex-direction: column;
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */